.comment {
  width: 100%;
  display: flex;

  align-items: flex-start;
  margin: 1rem 0;

  .comment__container {
    width: 90%;

    .comment__commentorInfo {
      display: flex;
      align-items: flex-end;
  
      .comment__commentorImage {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        margin-right: .4rem;
      }
  
      .comment__commentorName {
        font-size: 2rem;
      }
    }
  }
  .comment__upvoteContainer {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .comment__upvoteButton {
      width: 2rem;
      align-self: center;
    }
  }

}

.alreadyUpvoted {
  opacity: 30%;
}