@import '../variables/Variables.scss';

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .nav__name {
    width: 5rem;
  }

  .nav__link {
    text-decoration: none;
    color: $richBlack;
    margin: .5rem 1rem;
    font-family: 'Padauk', sans-serif;
  }

  .nav__link:hover {
    cursor: pointer;
    text-decoration: underline;
    margin: .3rem 1rem;
  }

  .nav__linkBox {
    display: flex;
  }
}
