@import '../variables/Variables.scss';

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .nav__name {
    width: 5rem;
  }

  .nav__link {
    text-decoration: none;
    color: $richBlack;
    margin: 1rem;
    font-family: 'Padauk', sans-serif;
  }
}
