@import '../variables/Variables.scss';

.topic {
  display: flex;
  flex-direction: column;
  align-items: center;

  .topic__image {
    width: 50%;
    margin-bottom: 1rem;
  }

  .topic__title {
    font-family: 'Poppins', sans-serif;
    color: $richBlack;
  }

  .topic__newCommentContainer {
    margin: 1rem 0;
    width: 40%;

    .topic__callToComment {
      margin-bottom: .5rem;
    }

    .topic__newCommentInput {
      width: 100%;
      border: 2px solid black;
      resize: none;
    }

    .topic__newCommentBottom {
      display: flex;
      justify-content: space-between;

      .topic__commentCharacterCount {

      }

      .topic__commentButton {

      }
    }
  }

  .topic__commentsList {
    width: 50%;
  }
}

.red {
  color: red;
}