@import '../variables/Variables.scss';

.topic {
  display: flex;
  flex-direction: column;
  align-items: center;

  .topic__image {
    width: 50%;
    max-width: 30rem;
    margin-bottom: .3rem;
    box-shadow: 0px 0px 15px 7px grey
  }

  .topic__title {
    font-family: 'Poppins', sans-serif;
    color: $richBlack;
    margin: 0 2rem;
    width: 50%;
    max-width: 30rem;
    background-color: transparent;
  }

  .topic__alert {
    margin: 1rem;
    padding: 1rem;
    border: solid 2px rgb(33, 148, 33);
    color: rgb(33, 148, 33);
    background-color: rgb(228, 224, 227);
  }

  .topic__newCommentContainer {
    margin: 1rem 0;
    width: 40%;

    .topic__callToComment {
      margin-bottom: .5rem;
    }

    .topic__newCommentInput {
      width: 100%;
      border: 2px solid $richBlack;
      font-family: 'Barlow Condensed', sans-serif;
      background-color: #dedade;
      box-shadow: -4px 4px 5px #adadad;
      margin-bottom: .4rem;
      resize: none;
      font-size: 1.2rem;
    }
    .topic__newCommentInput:hover {
      cursor: url('../assets/pen.png') 0 60, auto;
    }
    .topic__newCommentInput:focus {
      outline: none;
      border-bottom: solid 3px $richBlack;
    }

    .topic__newCommentBottom {
      display: flex;
      justify-content: space-between;

      .topic__commentCharacterCount {

      }

      .topic__commentButton {
        border: solid 2px $richBlack;
        box-shadow: -2px 2px $richBlack;
      }
      .topic__commentButton:hover {
        cursor: pointer;
      }
      .topic__commentButton:active {
        box-shadow: none;
        position: relative;
        bottom: -2px;
        left: -2px;
      }

      .unavailable {
        box-shadow: none;
        position: relative;
        bottom: -2px;
        left: -2px;
        color: rgb(104, 101, 101);
        border: solid 2px rgb(104, 101, 101);
      }
    }
  }

  .topic__commentsList {
    width: 50%;
  }
}

.red {
  color: red;
}

.grey {
  color: rgb(104, 101, 101);
}