@import '../variables/Variables.scss';

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  .fa-solid {
    margin: 0 .7rem;
  }
  .fa-solid:hover {
    cursor: pointer;
  }

  .profile__info {
    color: $richBlack;
    font-family: 'Josefin Sans', sans-serif;
  }

  .profile__imageContainer {
    margin-top: 2rem;
    display: flex;
    
    .profile__image {
      width: 15rem;
      height: 15rem;
      object-fit: cover;
    }
    .profile__imageIcon {
      font-size: 3rem;
      margin: 0 1rem;
    }

    .profile__imageEdit {
      display:flex;
    }
  }


  .profile__title {
    margin: 1rem 0 .2rem;
    color: rgb(73, 68, 68);
  }

  .profile__nameContainer{
    display: flex;

    
  }

  .profile__bioContainer {
    display: flex;
    width: 30%;
  }
}